body {
    /* background-color: #fffbf7; */
    background-color:khaki;
}

h1 {
    color: #46484c;
    text-align: center;
}

p {
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
}

.header {
    margin: 40px 20px 0px 20px ;
    font-size: 0;
    line-height: 45px;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    font-family: sans-serif;
    line-height: 45px;
}

li{
    display: inline;
}

.logo{
    width: 15%;
}

.navbar{
    width: 60%;
    text-align: center;
}

ul > li{
    margin:  0 25px 0 25px;
    color: #025157;
}

.actions{
    width: 25%;
    text-align: center;
    font-size: 14px;
}

.actions a{
    color: #67b54b
}

.actions > *{
    margin:  0 10px 0 10px;
}

.actions button{
    color:white;
    background-color: #67b54b;
    padding: 12px 14px;
    border: none;
    border-radius: 5px;
}